.topic-text{
 color: royalblue;
 font-weight: bold;
 font-size: 36px;
 font-family: 'Arial';
}

.information-text{
  color: skyblue;
  font-size: 36px;
  font-family: 'Trebuchet MS';
}

.thread-text{
  font-size: 24px;
  font-family: 'Noto Sans JP';
}

.splash-text{
  font-size: 60px;
  font-family: 'Arial';
  font-weight: bold;
}
